body {
  background-color: lightskyblue;
  text-align: center;
}

li {
  text-align: center;
  list-style-type: none;
}
.box1 {
  height: 100px;
  width: 150px;
  border: 2px solid green;
  position: absolute;
}
.box2 {
  height: 100px;
  width: 150px;
  border: 2px solid green;
  position: relative;
  float: right;
}
